.card-container {
-webkit-perspective: 800px !important;
   -moz-perspective: 800px !important;
     -o-perspective: 800px !important;
        perspective: 800px !important;
}

.card-container.hover .card{
-webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
     -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
}

.card-container .card {
-webkit-transform: none;
   -moz-transform: none;
     -o-transform: none;
        transform: none;
}

.card {
-webkit-transition: -webkit-transform .5s;
   -moz-transition: -moz-transform .5s;
     -o-transition: -o-transform .5s;
        transition: transform .5s;
-webkit-transform-style: preserve-3d !important;
   -moz-transform-style: preserve-3d !important;
     -o-transform-style: preserve-3d !important;
        transform-style: preserve-3d !important;
        position: relative !important;
}

.front, .back {
-webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

.front {
        z-index: 2 !important;
}

.back {
-webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
     -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
        z-index: 3 !important;
}

.card-container, .front, .back {
  height: 420px;
  border-radius: 4px;
}

.card {
  height: 420px;
}

.h100 {
  height:100%;
}
