/*make transparent link selection, adjust last value opacity 0 to 1.0:*/
* { -webkit-tap-highlight-color: rgba(0,0,0,0); } 

:root {
  --lh_em:1.2em;   /*default line height for components' elements everywhere*/
  --lh_rem:1.2rem; /*default line height for components everywhere          */
  --ctrlGrpSpinFactor:1.2;
  min-height:100%;
  font-size:16px;line-height:var(--lh_rem);
}

html {
  min-height:100%;
  max-height:100%;
}

body {
  font-size:1rem;line-height:var(--lh_rem);
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  -webkit-touch-callout:none;-webkit-text-size-adjust:none;-webkit-user-select:none;
  width:100%;
  min-height:100%;
  max-height:100%;
  margin:0;padding:0;
  background-color:#E4E4E4;
  display:flex;flex-flow:column nowrap;justify-content:flex-start;align-items:center;
  overflow-y:hidden;
}

#root {
  width:100%;
  min-height:100%;
  height:100%;
  max-height:100%;
  overflow-y:hidden;
}